body {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}

.navigation ul {
	list-style: none;
}

.navigation li {
	float: left;
	width: 150px;
	margin: 10px;
	background-color: gray;
	border: 2px black solid;
	padding: 8px;
}

@media (max-width: 600px) {
	body {
		background-color: lightblue;
	}
	.navigation li {
		width: 400px;
		float: none;
	}
}
